@import "tailwindcss";

body {
  @apply bg-neutral-900 text-white;
  margin: 0;
  padding: 0;
}

/* Ocultar scrollbars en todos los navegadores */
::-webkit-scrollbar { display: none; }
* { scrollbar-width: none; -ms-overflow-style: none; }

html, body {
  overflow-x: hidden;
  /* Quitamos el snap nativo para que GSAP maneje la inercia "directa" */
  scroll-behavior: auto; 
}

app-root {
  display: block;
}